/* Set font family and collapse border for table */
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

/* Set border and padding for table cells */
table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Set background color for even table rows */
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Set background color for table row on hover */
table tr:hover {
  background-color: #ddd;
}

/* Set style for table headers and footer */
table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0F52BA;
  color: white;
}

/* Set style for page buttons */
.page-buttons {
  padding: 0.5em;
  margin: 0.5em;

  background-color: #007bff;
  color: white;
  border-radius: 0.3em;
}

/* Set style for disabled page buttons */
.page-buttons:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* Set style for page buttons on hover */
.page-buttons:hover {
  background-color: #0069d9;
  cursor: pointer;
}

/* Set style for text input field */
.input-text {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.3em;
  border: none;
}

/* Set style for page select dropdown */
.page-select {
  padding: 0.5em;
  margin: 0.5em;

  background-color: #ffffff;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 0.3em;
}

/* Set style for page select dropdown on hover */
.page-select:hover {
  cursor: pointer;
}

/* Set style for options within the page select dropdown */
.page-select option {
  padding: 0.5em;
  margin: 0.5em;
  background-color: #ffffff;
  color: #007bff;
}
